body {
    background-color: #D6E1FF;
}
    
#box {
    background-color: white;
    margin: 137px auto auto auto;
    height: 675px;   
    width: 500px;
    border-radius: 20px;
    border: 1px;
}
    
#fb {
    height: 225px;
    width: 500px;
    background-image: url(assets/illustration-hero.svg);
    border-radius: 20px 20px 0px 0px;
}
    
    
#bas { 
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
    color: rgb(22, 17, 44);
}
    
#p1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 95px;
    margin-right: 95px;
    line-height: 24px;
    color: #999DA6;
}
    
#sb {
    background-color: #F8F9FE;
    margin: 40px auto auto auto;
    height: auto;
    width: 320px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #F8F9FE;
}
    
    
    
button {
    height: 50px;
    width: 350px;
    margin-top: 30px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 25px;
    background-color: #382AE1;
    color: white;
    border-radius: 15px;
    border: 1px solid #382AE1;
    filter: drop-shadow(4px 8px 16px #746bdbb7);
    transition: all 200ms ease-in-out;
}
    
    
    
button:hover {
    transform: translateY(-10px);
}
    
    
    
#da {
    text-align: center;
}
    
#a2 {
    text-decoration: none;
    color: #999DA6;
}
    
#d1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
    
#dd1 {
    margin-left: 12px;
    margin-top: 16px;
    height: 80px;
    width: 80px;
}
    
#dd2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
#d2 {
    line-height: 80px;
    height: 80px;
    width: 160px;
    text-align: center;
}
    
#pp1 {
    font-size: medium;
    font-weight: 700;
}
    
#pp2 {
    color: #999DA6;
}
    